<div class="splash">
  <div>
    <h3>welcome to</h3>
    <h1>My Expenses</h1>
  </div>
  <div class="operation">
    <%= link_to 'SIGN IN', class:'btn' %>
    <%= link_to 'SIGN UP', class:'btn' %>
  </div>
</div>